{% extends "base.html" %}
{% block title %}User{% endblock%}
{% block content %}
    <br><br>
    <h4>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif%}
    {% endwith %}
<form action="#" method="POST">
    <!--<input type="text" name="favquote" placeholder="Let us know your favourite quote"/>--><!--value="favquote"-->
    <textarea rows="10" cols="30" name="favquote">Let us know your favourite quote</textarea>
    <input type="submit" value="SHARE"/>
    <br><br><hr><input type = "button" onclick = "sayHello()" value = "Wish Me A Great Day!" /><hr><!--JS function-->
</form>
</h4>
{% endblock%}
